[
    (
        name: "Mining Drill",
        category: Production,
        appearance: (
            size: (32.0, 32.0),
            color: (0.3, 0.7, 0.3, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 20, "Iron Ore": 30},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [RequiresResource, AdjacentToNetwork],
        ),
        components: [
            PowerConsumer(amount: 10),
            Inventory(capacity: 100),
            InventoryType(inv_type: Sender),
            ViewRange(radius: 2),
            RecipeCrafter(recipe_name: "Iron Ore", interval: 1.0),
        ]
    ),
    
    (
        name: "Connector",
        category: Logistics,
        appearance: (
            size: (16.0, 16.0),
            color: (0.7, 0.3, 0.7, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 10, "Iron Ore": 5},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            ViewRange(radius: 1),
            NetWorkComponent,
        ]
    ),
    
    (
        name: "Radar",
        category: Utility,
        appearance: (
            size: (32.0, 32.0),
            color: (0.7, 0.7, 0.3, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 40, "Iron Ore": 100},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            PowerConsumer(amount: 30),
            ViewRange(radius: 10),
        ]
    ),
    
    (
        name: "Generator",
        category: Production,
        appearance: (
            size: (32.0, 32.0),
            color: (0.3, 0.3, 0.7, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 40, "Iron Ore": 20},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            PowerGenerator(amount: 40),
            RecipeCrafter(recipe_name: "Power", interval: 2.0),
            Inventory(capacity: 100),
            InventoryType(inv_type: Requester),
            ViewRange(radius: 2),
        ]
    ),
    
    (
        name: "Datacenter",
        category: Production,
        appearance: (
            size: (48.0, 48.0),
            color: (0.7, 0.3, 0.8, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 120, "Iron Ore": 80},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            PowerConsumer(amount: 100),
            ComputeGenerator(amount: 100),
            ViewRange(radius: 2),
        ]
    ),
    (
        name: "Smelter",
        category: Production,
        appearance: (
            size: (32.0, 32.0),
            color: (0.7, 0.5, 0.2, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 80, "Iron Ore": 40},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            PowerConsumer(amount: 60),
            RecipeCrafter(recipe_name: "Iron Ingot", interval: 2.0),
            Inventory(capacity: 100),
            InventoryType(inv_type: Producer),
            ViewRange(radius: 2),
        ]
    ),
    (
        name: "Storage",
        category: Logistics,
        appearance: (
            size: (32.0, 32.0),
            color: (0.8, 0.7, 0.2, 1.0),
            multi_cell: None,
        ),
        placement: (
            cost: Some((
                cost: (
                    name: "",
                    inputs: {"Copper Ore": 20, "Iron Ore": 10},
                    outputs: {},
                    crafting_time: 0.0,
                )
            )),
            rules: [AdjacentToNetwork],
        ),
        components: [
            Inventory(capacity: 200),
            InventoryType(inv_type: Storage),
            ViewRange(radius: 2),
        ]
    ),
]