[
    // Foundational Items
    (
        name: "Iron Ore",
        tier: 0,
    ),
    (
        name: "Copper Ore",
        tier: 0
    ),
    (
        name: "Coal",
        tier: 0
    ),
    // Crafted Items
    (
        name: "Iron Ingot",
        tier: 1
    )
]
